<footer class="ftr">
  <ul>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-facebook-f" style='color:rgb(0, 0, 0)'></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-twitter" style='color:rgb(0, 0, 0)'></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-google" style='color:rgb(0, 0, 0)'></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-instagram" style='color:rgb(0, 0, 0)'></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-linkedin-in" style='color:rgb(0, 0, 0)'></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-github" style='color:rgb(0, 0, 0)'></i></a>
  </ul>
  <ul style="font-family:Verdana, Geneva, Tahoma, sans-serif ;">
    <li><a href="#">ShopForHome</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>
