<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #ffffff; ">
  
  <a class="navbar-brand mb-0 mt-2" [routerLink]="root">
    <img src="/assets/online-shopping.png" width="60px" height="100%" class="d-inline-block align-top " alt="Logo">ShopForHome
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav" *ngIf="!currentUser || currentUser.role == Role.Customer">
      <a class="nav-item nav-link mr-2" routerLink="/category/0"  style="color: blue;" >
        Perfume
      </a>
      <a class="nav-item nav-link mr-2" routerLink="/category/1" style="color: blue;">
        Shoes
      </a>
      <a class="nav-item nav-link mr-2" routerLink="/category/2" style="color: blue;">
        Mouse Pads
      </a>
      <a class="nav-item nav-link" routerLink="/category/3" style="color: blue;">
        Keychain
      </a>
    </div>

    <div class="navbar-nav ml-auto">
      <a *ngIf="!currentUser || currentUser.role == Role.Customer" 
      class="nav-item btn btn-success mr-4" routerLink="/cart" style="background-color:rgb(107, 107, 255) ;">Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </a>
      <div class="navbar-nav" *ngIf="currentUser && currentUser.role == Role.Manager">
        <a class="nav-item btn btn-success mr-4" routerLink="/discount">Discount <i class="fa fa-percent"
            aria-hidden="true"></i></a>
        <a class="nav-item btn btn-primary mr-4" (click)=getUsers() routerLink="/admin/user">Users <i class="fa fa-users"
            aria-hidden="true"></i></a>
        <a class="nav-item btn btn-info mr-4" routerLink="/seller/product">Stocks <i class="fa fa-info"
            aria-hidden="true"></i></a>
      </div>
      <div class="navbar-nav" *ngIf="currentUser && currentUser.role == Role.Customer">
        <a class="nav-item btn btn-info mr-4 ml-4" routerLink="/wishlist">Wishlist <i class="far fa-heart"></i></a>
      </div>
      

      <ng-container *ngIf="currentUser; else noUser">
        <a class="nav-item btn btn-success mr-2" routerLink="/order">
          Orders <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        </a>
        <a class="nav-item nav-link mr-2 " routerLink="/profile">
          {{name}}
        </a>
        <a class="nav-item nav-link " (click)="logout()" routerLink="/login" [queryParams]="{logout: true}">
          Logout
        </a>
      </ng-container>
      <ng-template #noUser>
        <a class="nav-item nav-link mr-2 ml-2" routerLink="/login" style="color: blue;">
          Login
        </a>
        <a class="nav-item nav-link " routerLink="/register" style="color: blue;">
          Register
        </a>
      </ng-template>
    </div>
  </div>
</nav>
